<h1>Restaurant</h1>


<div class="container">
  <div class="links">
    <%= link_to "< back to list", restaurants_path %>
    <%= link_to "update restaurant", edit_restaurant_path(@restaurant) %>
    <%= link_to "new review", new_restaurant_review_path(@restaurant) %>
  </div>

  <div class="restaurant">
    <h1><%= @restaurant.name %></h1>
    <p><%= @restaurant.category %></p>
    <p><%= @restaurant.address %></p>
    <p><%= @restaurant.phone_number %></p>
  </div>

  <div class="reviews">
    <h4>Reviews</h3>
    <% @restaurant.reviews.each do |review| %>
    <p> <%= review.content %></p>
    <p><%= review.rating %></p>
    <% end %>
  </div>
</div>
